
.menu {
  background-color: var(--turron);
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  gap: 1rem;
  a {
    color: var(--white);
    text-decoration: none;
    &:hover{
        color: var(--salonPasado);
        display: flex;
        justify-content: space-between;
        
        
    }
  }  
}

