:root {
	--black: #000000;
	--gris: #cdcdcd;
	--grisClaro: #f2f2f2;
	--grisOscuro: #aaaaaa;
	--salmon: #f58c72;
	--salmonClaro: #e9b1a3;
	--salonPasado: #f26a6c;
	--turron: #e6a377;
	--white: #ffffff;
}
section {
	min-height: 100vh;
}
