
:root{
  --black: #000000;
  --gris: #cdcdcd;
  --grisClaro: #f2f2f2;
  --grisOscuro: #aaaaaa;
  --salmon: #f58c72;
  --salmonClaro: #e9b1a3;
  --salonPasado: #F26A6C;
  --turron: #E6A377;
  --white: #ffffff;
}
section {
min-height: 100vh;
}
