
@use './utils' as *;
@use './variables' as *;
@use './nav' as *;


*{
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}

.top{
    aspect-ratio: 1;
    background: red;
    border-radius: 50%;
    display: none;
    inset-block-end: 0;
    padding: 1rem;
    position: fixed;
    inset-inline-end: 0;
}